@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* bg-gray-50 memberikan warna off-white yang sangat nyaman di mata */
    @apply bg-gray-50 text-gray-800 antialiased selection:bg-teal-200 selection:text-teal-900;
  }
}

/* Scrollbar yang lebih tipis dan elegan (opsional tapi sangat disarankan) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400 transition-colors;
}